.dNone{
    display: none;
}

.main-product-image{
    max-width: 6em;
    height: auto;
    margin: 0 auto;
}

.centerColumn { 
    text-align: center; 
    margin: 0 auto;
    /* display:block; 
    z-index:10;  */
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
}

.centerColumn:hover{
    transform: scale(3); 
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover{
    text-decoration: none;
}

#languagesDropdown:hover{
    opacity: 0.7;
}

#list-languages{
    margin-top: -1em;
}

/* No se muestra el file input original, en su lugar se hace con un label */
/* #picture {
    display: none;
}

#product-picture-label{
    font-size: 1em;
    padding: 0.2em 0.4em;
    border: 1px solid black;
    border-radius: 3%;
} */


